<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Inmobiliaria</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/Inmobiliaria.styles.css" asp-append-version="true" />
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg border-bottom box-shadow mb-3 big-navba">
      <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand rounded" asp-controller="Home" asp-action="Index">
          <img src="https://juancz55.github.io/Imagenes/logoInmo.png" alt="logo" width="120" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNav" class="collapse navbar-collapse">
          <ul class="nav nav-underline fs-4 ms-auto">
            <li class="nav-item">
              <a class="nav-link text-primary-emphasis" asp-controller="Home" asp-action="Index">Inicio</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-primary-emphasis" role="button" data-bs-toggle="dropdown">
                Propietarios
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="Propietario" asp-action="Crear">Crear</a></li>
                <li><a class="dropdown-item" asp-controller="Propietario" asp-action="Listar">Lista Gestion</a></li>

              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-primary-emphasis" role="button" data-bs-toggle="dropdown">
                Inquilinos
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="Inquilino" asp-action="Crear">Crear</a></li>
                <li><a class="dropdown-item" asp-controller="Inquilino" asp-action="Listar">Lista Gestion</a></li>

              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-primary-emphasis" role="button" data-bs-toggle="dropdown">
                Inmuebles
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="Inmueble" asp-action="Crear">Crear</a></li>
                <li><a class="dropdown-item" asp-controller="Inmueble" asp-action="Listar">Lista Gestion</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-primary-emphasis" role="button" data-bs-toggle="dropdown">
                Tipos de Inmueble
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="TipoInmueble" asp-action="Crear">Crear</a></li>
                <li><a class="dropdown-item" asp-controller="TipoInmueble" asp-action="Listar">Lista Gestion</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-primary-emphasis" role="button" data-bs-toggle="dropdown">
                Contrato
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="Contrato" asp-action="Crear">Crear</a></li>
                <li><a class="dropdown-item" asp-controller="Contrato" asp-action="Listar">Lista Gestion</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container mt-4">
    <main role="main " class="row justify-content-center">
      @RenderBody()
    </main>
  </div>

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
  <partial name="_ValidationScriptsPartial" />
</body>

</html>
