@model Inmobiliaria.Models.TipoInmueble
@{
  ViewData["Title"] = "Crear Tipo de Inmueble";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-7">
  <form asp-action="Crear" method="post">
    <div class="col-12">
      <h2 class="text-center">Crear Tipo de Inmueble</h2>
    </div>

    <div class="mb-3">
      <label asp-for="Nombre" class="form-label"></label>
      <input asp-for="Nombre" class="form-control" />
      <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="d-flex justify-content-center col-12">
      <button type="submit" class="btn btn-success">Crear Tipo de Inmueble</button>
    </div>
  </form>
</div>

@section Scripts {
  @await Html.PartialAsync("_ValidationScriptsPartial")
}
